@import "~styles/_sizes";

.channelDiv {
  align-items: center;
  display: flex;
  //margin-bottom: @userCardInnerMargin;
}

.channelIcon {
  border-radius: 50%;
  width: 1.25rem;
}

.channelTitle {
  margin-left: 0.25rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  :first-child {
    > p {
      margin-top: 0.125rem;
    }
  }
}

.statsDiv {
  align-items: center;
  display: flex;
  > svg {
    margin-right: 0.5rem;
  }
}
