.channelDiv {
  align-items: center;
  display: flex;
  margin: 0.75rem;
}

.channelIcon {
  border-radius: 50%;
  width: 1.25rem;
}

.channelTitle {
  margin-left: 0.25rem;
}

.statsContainer {
  display: flex;
  justify-content: space-between;
  margin: 0 0.75rem 0.75rem 0.75rem;
  :first-child {
    > p {
      margin-top: 0.125rem;
    }
  }
}

.statsDiv {
  align-items: center;
  display: flex;
  > svg {
    margin-right: 0.5rem;
  }
}

.title {
  margin: 0.75rem 0.75rem 0 0.75rem;
}
