@import '~antd/lib/input/style/index.less';
@import '~antd/lib/form/style/index.less';
//@import '~styles/_borders';
@import '~styles/_colors';
@import '~styles/_fonts';

//@border-color-base: @input-border-color;
//@border-radius-base: @input-border-radius;
//@border-style-base: @input-border-style;
//@border-width-base: @input-border-width;
@error-color: @red;
@input-color: @black;
//@input-hover-border-color: @input-border-color;
@input-padding-horizontal-base: 0.75rem;
//@input-placeholder-color: @darkGrey;

.ant-input:focus {
  border-color: @blue;
  //box-shadow: @input-box-shadow;
}

.has-error .ant-input:focus {
  border-color: @red;
  //box-shadow: @input-box-shadow-error;
}

.ant-form-explain {
  //font-size: @font-size-small;
}
