@import "~styles/_colors";
@import '~styles/_shadows';

.div {
  align-items: center;
  background: @white;
  border-radius: 2rem;
  box-shadow: @spaFallbackShadow;
  display: flex;
  height: 12rem;
  justify-content: center;
  position: relative;
  width: 12rem;
  > img {
    width: 5rem;
  }
}

.lottieDiv {
  bottom: -1.25rem;
  position: absolute;
}

.main {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}
