// Source: https://css-tricks.com/snippets/css/css-triangle/

@import "~styles/_colors";
@import "~styles/_sizes";

.div {
  height: 0;
  position: absolute;
  width: 0;
}

// ----- CARET PLACEMENT ----- //

.bottom-left, .bottom-right {
  bottom: @caretSize;
}

.center-bottom, .center-top {
  left: 50%;
  transform: translateX(-50%);
}

.center-left, .center-right {
  top: 50%;
  transform: translateY(-50%);
}

.left-bottom, .left-top {
  left: @caretSize;
}

.right-bottom, .right-top {
  right: @caretSize;
}

.top-left, .top-right {
  top: @caretSize;
}

// ----- POPOVER PLACEMENT ----- //

.bottom {
  border-left: @caretSize solid transparent;
  border-right: @caretSize solid transparent;
  border-bottom: @caretSize solid @white;
  top: -@caretSize;
}

.left {
  border-top: @caretSize solid transparent;
  border-bottom: @caretSize solid transparent;
  border-left: @caretSize solid @white;
  right: -@caretSize;
}

.right {
  border-top: @caretSize solid transparent;
  border-bottom: @caretSize solid transparent;
  border-right: @caretSize solid @white;
  left: -@caretSize;
}

.top {
  border-left: @caretSize solid transparent;
  border-right: @caretSize solid transparent;
  border-top: @caretSize solid @white;
  bottom: -@caretSize;
}
