// Source: https://css-tricks.com/snippets/css/css-triangle/

@import "~styles/_colors";
@import "~styles/_sizes";

.div {
  height: 0;
  position: absolute;
  width: 0;
}

// ----- CARET PLACEMENT ----- //

//.center {
//  left: 50%;
//  transform: translateX(-50%);
//}

// ----- POPOVER PLACEMENT ----- //

.bottom {
  border-left: @caretSize solid transparent;
  border-right: @caretSize solid transparent;
  border-bottom: @caretSize solid @white;
  top: -@caretSize;
}

.left {
  border-top: @caretSize solid transparent;
  border-bottom: @caretSize solid transparent;
  border-left: @caretSize solid @white;
  right: -@caretSize;
}

.right {
  border-top: @caretSize solid transparent;
  border-bottom: @caretSize solid transparent;
  border-right: @caretSize solid @white;
  left: -@caretSize;
}

.top {
  border-left: @caretSize solid transparent;
  border-right: @caretSize solid transparent;
  border-top: @caretSize solid @white;
  bottom: -@caretSize;
}
