@import "~styles/_sizes";
@import "~styles/_transitions";

.buttonsContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  position: absolute;
  transition: @cardContentOpacityTransition;
  width: calc(100% - 2rem);
  z-index: 1;
  :global {
    .like-button {
      opacity: 0;
    }
  }
}

.container {
  height: @cardContentHeight;
  width: @cardWidth;
  display: flex;
  position: relative;
  &:hover {
    :global {
      .card-youtube-play-button, .like-button {
        opacity: 1;
      }
    }
  }
}
