@import "~styles/_sizes";

.container {
  display: flex;
  height: 100%;
  position: relative;
  width: @cardWidth;
  &:hover {
    :global {
      .card-menu-button, .card-youtube-play-button, .like-button {
        opacity: 1;
      }
    }
  }
}
