@import "~styles/_colors";
@import "~styles/_sizes";
@import "~styles/_shadows";

.container {
  background: @white;
  box-shadow: @cardBoxShadow;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: @youtubeCardHeight;
  margin: @youtubeCardMargin;
  min-width: @youtubeCardWidth;
  overflow: hidden;
  position: relative;
  width: @youtubeCardWidth;
}

.overlayDiv {
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* stylelint-disable */

.isSelected {
  border: 1px solid red;
}
