@import "~styles/_colors";
@import "~styles/_sizes";
@import "~styles/_shadows";

.container {
  background: @white;
  box-shadow: @cardBoxShadow;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: @youtubeCardHeight;
  margin: @youtubeCardMargin;
  min-width: @youtubeCardWidth;
  overflow: hidden;
  width: @youtubeCardWidth;
}
