@import "~styles/_colors";
@import "~styles/_shadows";
@import "~styles/_sizes";
@import "~styles/_zIndices";

.section {
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  display: flex;
  flex-direction: column;
  left: 50%;
  padding: 1rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: @zModal;
}
