.div {
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  display: flex;
  position: absolute;
  z-index: @zPopOver;
}

// ----- POPOVER COLORS ----- //

.blue {
  background: @blue;
}

.white {
  background: @white;
}
