@import "~styles/_colors";
@import "~styles/_sizes";

.line {
  background: @white;
  height: 0.125rem;
  left: 50%;
  position: absolute;
  top: 0.5rem;
  transform: translateX(-50%);
  width: 4rem;
}

.overlayDiv {
  background: @transparentBlackDarkest;
  border-radius: @standardBorderRadius;
  height: 100%;
  position: absolute;
  width: 100%;
}

.typographyDiv {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
