@import "~styles/_colors";
@import "~styles/_shadows";
@import "~styles/_sizes";
@import "~styles/_zIndices";

.section {
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
  top: 3rem;
  width: 24.5rem;
  z-index: @zToast;
}
