@import "~styles/_colors";
@import "~styles/_fonts";

.dropdown {
  background: @white;
  border: none;
  color: @black;
  font-family: @prompt;
  font-size: 1.125rem;
  font-weight: 300;
  height: 2.25rem;
  letter-spacing: 0.03125rem;
  outline: none;
  padding: 0 1rem;
}
