{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"],
      "approximate": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "buttons": "./src/app/shared/buttons/",
        "header": "./src/app/header/",
        "lottie": "./src/thirdParty/lottie/",
        "navigation": "./src/app/navigation/",
        "pages": "./src/app/pages/",
        "shared": "./src/app/shared/",
        "static": "./src/static/",
        "storybook": "./src/thirdParty/storybook/",
        "styles": "./src/styles/"
      }
    }]
  ]
}
