{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"],
      "approximate": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "api": "./src/api/",
        "app": "./src/spa/app/",
        "assets": "./src/assets/",
        "buttons": "./src/spa/shared/buttons/",
        "context": "./src/context/",
        "forms": "./src/spa/shared/forms/",
        "gapi": "./src/thirdParty/gapi/",
        "header": "./src/spa/app/layout/header/",
        "hooks": "./src/hooks/",
        "icons": "./src/spa/shared/icons/",
        "initializeApp": "./src/spa/app/initializeApp/",
        "inputs": "./src/spa/shared/inputs/",
        "landing": "./src/spa/landing/",
        "layout": "./src/spa/app/layout/",
        "lotty": "./src/thirdParty/lotty/",
        "mockData": "./src/mockData/",
        "navigation": "./src/spa/app/layout/navigation/",
        "pages": "./src/spa/app/pages/",
        "routing": "./src/spa/app/routing/",
        "schema": "./src/server/schema/",
        "server": "./src/server/",
        "shared": "./src/spa/shared/",
        "storybook": "./src/thirdParty/storybook/",
        "styles": "./src/styles/",
        "typography": "./src/spa/shared/typography/",
        "types": "./src/types/",
        "utils": "./src/utils/"
      }
    }]
  ]
}
