{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    ["babel-plugin-transform-builtin-extend", {
      "globals": ["Error", "Array"],
      "approximate": true
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "about": "./src/spa/shared/about/",
        "alert": "./src/spa/components/molecules/alert/",
        "animations": "./src/spa/components/atoms/animations/",
        "api": "./src/api/",
        "app": "./src/spa/app/",
        "assets": "./src/assets/",
        "buttons": "./src/spa/components/molecules/buttons/",
        "cards": "./src/spa/shared/cards/",
        "context": "./src/context/",
        "fallbacks": "./src/spa/shared/fallbacks/",
        "footer": "./src/spa/shared/footer/",
        "forms": "./src/spa/shared/forms/",
        "graphics": "./src/spa/components/atoms/graphics/",
        "header": "./src/spa/app/layout/header/",
        "hooks": "./src/hooks/",
        "icon": "./src/spa/components/atoms/icon/",
        "inputs": "./src/spa/shared/inputs/",
        "landing": "./src/spa/landing/",
        "layout": "./src/spa/app/layout/",
        "lottiePlayer": "./src/spa/components/atoms/lottiePlayer/",
        "lotties": "./src/spa/components/atoms/lotties/",
        "mockData": "./src/mockData/",
        "modals": "./src/spa/shared/modals/",
        "navigation": "./src/spa/app/layout/navigation/",
        "pages": "./src/spa/app/pages/",
        "popOver": "./src/spa/components/atoms/popOver/",
        "portal": "./src/spa/components/atoms/portal/",
        "routing": "./src/spa/app/routing/",
        "schema": "./src/server/schema/",
        "server": "./src/server/",
        "shared": "./src/spa/shared/",
        "storybook": "./src/thirdParty/storybook/",
        "styles": "./src/styles/",
        "tags": "./src/spa/shared/tags/",
        "typography": "./src/spa/shared/typography/",
        "types": "./src/types/",
        "utils": "./src/utils/"
      }
    }]
  ]
}
