@import "~styles/_colors";

.div {
  background: $white;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  height: 18rem;
  overflow: hidden;
  width: 18rem;
}

.img {
  max-height:100%;
  max-width:100%;
}

.title {
  margin: 0.75rem;
}
