@import "~styles/_sizes";

.buttonsContainer {
  margin-top: 0.25rem;
  position: relative;
}

.formContainer {
  display: flex;
  margin: 1rem 0 0 calc(@cardMargin + @dashboardPagePaddingLeft);
  button { // NOTE TODO: This is applying css to the toggle filters
    margin-left: 1.5rem;
  }
}

.input {
  width: 22rem;
}
