@import "~styles/_sizes";

.buttonDiv {
  margin: 0 1.5rem;
}

.buttonsContainer {
  margin-top: 0.25rem;
  position: relative;
}

.formContainer {
  display: flex;
  margin-left: calc(@cardMargin + @dashboardPagePaddingLeft);
}

.input {
  width: 22rem;
}
