@import "~styles/_sizes";

.div {
  display: flex;
  align-items: center;
  margin: 1rem 0 0 calc(@cardMargin + @dashboardPagePaddingLeft);
  button {
    margin-left: 1.5rem;
  }
}

.input {
  width: 22rem;
}
