@import "~styles/_colors";
@import "~styles/_shadows";

.div {
  align-items: center;
  background: @white;
  border-radius: 1rem;
  box-shadow: @cardBoxShadow;
  display: flex;
  height: 5rem;
  justify-content: center;
  margin-right: 2rem;
  width: 5rem;
}

.img {
  width: 75%;
}
