@import "~styles/_colors";
@import "~styles/_shadows";
@import "~styles/_sizes";

.stackCardDiv {
  align-items: center;
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  display: flex;
  height: @stackCardSize;
  justify-content: center;
  margin: 0 3rem 3rem 0;
  overflow: hidden;
  position: relative;
  width: @stackCardSize;
}

.fullSizeImg {
  border-radius: @standardBorderRadius;
  width: 100%;
}

.img {
  width: 75%;
}

.mouseDiv {
  border-radius: @standardBorderRadius;
  cursor: pointer;
  height: 100%;
  position: absolute;
  width: 100%;
}
