@import "~styles/_colors";

.footerContent {
  display: flex;
  margin-top: 2rem;
}

.iconDiv {
  margin-right: 0.5rem;
}

.list {
  margin: 0 3rem;
}

.section {
  background: @black;
  display: flex;
  height: 25rem;
  justify-content: center;
}

.ul {
  list-style: none;
  padding: 0;
  > li {
    margin: 0.5rem 0;
  }
}
