@import "~styles/_colors";

@marginTop: 2rem;

.footerContent {
  display: flex;
  margin-top: @marginTop;
}

.iconDiv {
  margin-right: 0.5rem;
}

.list {
  margin: 0 3rem;
}

.logo {
  height: 5rem;
  width: 5rem;
  position: absolute;
  top: @marginTop;
}

.section {
  background: @black;
  display: flex;
  height: 25rem;
  justify-content: center;
  position: relative;
}

.ul {
  list-style: none;
  padding: 0;
  > li {
    margin: 0.5rem 0;
  }
}
