.buttonDiv {
  display: flex;
  button {
    height: 2.25rem;
    justify-content: center;
    width: 7.5rem;
  }
}

.loginDiv {
  justify-content: space-between;
}

.rememberForgotDiv {
  display: flex;
  justify-content: space-between;
}

.signUpDiv {
  justify-content: end;
}
