@backgroundImageWidth: 1364px;

.img {
  // https://css-tricks.com/perfect-full-page-background-image/
  min-width: @backgroundImageWidth;
  width: 100%;
}

.div {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
