&.admin-list {
  flex: 1;
  flex-direction: column;
  h3 {
    padding: 2% 0 2% 1%;
    margin: 0;
    font-weight: 300;
    color: $blue;
    position: sticky;
    top: 0;
    background-color: $white;
  }
  .item {
    display: flex;
    section {
      flex: 1;
      a {
        color: $black;
        text-decoration: none;
        padding: 2.5% 1%;
        display: block;
        width: 100%;
        &:hover {
          color: $blue;
        }
      }
    }
    &:hover {
      background-color: $white;
    }
  }
  > div:nth-child(odd) {
    background-color: $lightGrey;
  }
  > div:nth-child(even) {
    background-color: $darkWhite;
  }
}
