@import "~styles/colors";
@import "~styles/sizes";

.hr {
  border-color: $navBorder;
  border-width: 0 0 0.0625rem 0;
  bottom: 0;
  margin: 0;
  position: absolute;
  width: 80%;
}

.img {
  width: 2.25rem;
}

.section {
  align-items: center;
  display: flex;
  height: $headerHeight;
  justify-content: center;
  position: relative;
}
