@import "~styles/_colors";

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 0;
  &:hover {
    > div > p {
      color: @blueHover;
    }
  }
}

.large {
  > button {
    margin-right: 1rem;
  }
}

.small {
  > button {
    margin-right: 0.5rem;
  }
}
