@import "~styles/_sizes";

@sectionMargin: 5rem;

:global {
  #p-2 {
    margin-top: @sectionMargin;
  }
}

.img {
  border-radius: 2rem;
  height: 45%;
  width: 45%;
}

.paragraphDiv {
  width: 45%;
}

.paragraphSection {
  display: flex;
  justify-content: space-between;
}

.parentSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 4rem;
  width: 100%;
}

.section {
  flex: auto;
  height: 10rem;
  margin-left: @pageMarginLeft;
  overflow: auto;
  padding-right: @pageMarginLeft;
}

.stackCardsDiv {
  display: flex;
  margin: 1rem 0 1rem 2rem;
}

.stackSection {
  margin-top: @sectionMargin;
}
