@import "~styles/_sizes";

.img {
  width: 40%;
}

.section {
  flex: auto;
  height: 10rem;
  margin-left: @pageMarginLeft;
  overflow: auto;
  padding-right: @pageMarginLeft;
}

.paragraphDiv {
  width: 50%;
}

.paragraphSection {
  display: flex;
}

.parentSection {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

