@import "~styles/colors";
@import "~styles/sizes";

.link {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: $navigationButtonHeight;
  margin: $navigationButtonMargin 0;
  position: relative;
  text-decoration: none;
}
