@import "~styles/_colors";

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  outline: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.div {
  display: flex;
  position: relative;
  &:hover {
    > div > button {
      color: @lightBlue;
    }
  }
}

.large {
  > button {
    margin-right: 1rem;
  }
}

.small {
  > button {
    margin-right: 0.5rem;
  }
}
