@import "~styles/_colors";
@import "~styles/_zIndices";

.section {
  backdrop-filter: blur(0.0625rem);
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: calc(@zModal - 1);
}
