.iconItemContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  > svg {
    margin-right: 0.5rem;
  }
}

.iconsContainer {
  display: flex;
  flex-wrap: wrap;
}
