@import "~styles/_colors";

.container {
  display: flex;
  position: relative;
}

.durationDiv {
  background: $transparentBlack;
  border-radius: 1rem;
  bottom: 0;
  margin: 1rem;
  padding: 0.3125rem 0.5rem;
  position: absolute;
  right: 0;
}

.img {
  max-height:100%;
  max-width:100%;
}

.playButtonDiv {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
