@import "~styles/_sizes";

.contentDiv {
  margin: 1rem;
  width: 9rem;
  p {
    margin-top: 1rem;
    text-align: center;
  }
}

.div {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: @headerHeight;
  margin: 0 1.375rem;
}
