@import "~styles/_sizes";

.contentDiv {
  :global {
    .ant-empty {
      margin: 1rem 0;
    }
  }
  p {
    text-align: center;
  }
}

.iconDiv {
  cursor: pointer;
  margin: 1rem;
}

.popover {
  top: @headerHeight !important;
  width: 12rem;
  :global {
    .ant-popover-title {
      min-width: auto;
    }
  }
}
