@import "~styles/colors";
@import "~styles/fonts";

// ----- overall styling ----- //

.typography {
  margin: 0;
}

// ----- colors ----- //

.black {
  color: $black;
}

.transparentWhite {
  color: $transparentWhite;
}

.white {
  color: $white;
}

// ----- fonts ----- //

.poppins {
  font-family: $poppins;
}

.roboto {
  font-family: $roboto;
}

// ----- sizes ----- //

.medium {
  font-size: 0.75rem;
}

.normal {
  font-size: 0.875rem;
}

.small {
  font-size: 0.625rem;
}

// ----- weights ----- //

.bold {
  font-weight: 400;
}

.light {
  font-weight: 100;
}

.regular {
  font-weight: 300;
}

