@import "~styles/_colors";
@import "~styles/_fonts";

.commonButtonMixin {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-family: @poppins;
  outline: none;
  > svg {
    margin-left: 0.5rem;
  }
}

// ----- SIZE ----- //

.default {
  border-radius: 0.5rem;
  font-size: 1.125rem;
  height: 2.25rem;
  padding: 0 1.125rem;
}

.large {
  border-radius: 1.75rem;
  height: 3.75rem;
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

// ----- TYPE ----- //

.primary {
  .commonButtonMixin;
  background: @blue;
  color: @white;
  transition: background 0.5s, box-shadow 0.2s;
  &:hover {
    background: @lightBlue;
  }
  &:active {
    box-shadow: 0 0 0.25rem 0 @lightBlue;
  }
}

.secondary {
  .commonButtonMixin;
  background: @white;
  color: @blue;
  transition: color 0.5s;
  &:hover {
    color: @lightBlue;
  }
}

.text {
  .commonButtonMixin;
  background: transparent;
  border-radius: 0;
  border: none;
  color: @black;
  font-size: 1.5rem;
  height: auto;
  padding: 0;
}
