@import '~styles/_colors';
@import '~styles/_hr';
@import '~styles/_sizes';
@import '~styles/_shadows';

.loginForm {
  background: @white;
  border-radius: 0.25rem;
  box-shadow: @loginFormBoxShadow;
  left: 5rem;
  position: absolute;
  top: 5rem;
}
