@import "~styles/_colors";

.channelDiv {
  align-items: center;
  display: flex;
  margin: 0.75rem;
}

.channelIcon {
  border-radius: 50%;
  width: 1.25rem;
}

.channelTitle {
  margin-left: 0.25rem;
}

.iconDiv {
  margin-right: 0.5rem;
}

.statsContainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 0.75rem 0.75rem 0.75rem;
}

.statsDiv {
  display: flex;
}

.title {
  margin: 0.75rem 0.75rem 0 0.75rem;
}
