.parentBoxContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.popOverContainer {
  display: flex;
}

.typographyDiv {
  padding: 0 1rem;
  width: 20rem;
}
