@import "~styles/_sizes";

.buttonDiv {
  margin: 0 1.5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-left: @pageMarginLeft;
}

.mainContainer {
  display: flex;
}

.input {
  width: 22rem;
}
