@import "~styles/_sizes";

.buttonDiv {
  margin: 0 1.5rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  //margin-left: @pageMarginLeft;
}

.mainContainer {
  display: flex;
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
    .ant-form-item-control {
      line-height: initial;
    }
  }
}

.input {
  width: 22rem;
}
