@import "~styles/colors";
@import "~styles/fonts";

.boldText {
  color: $black;
  font-family: $poppins;
  font-size: 1rem;
  font-weight: 600;
}

.h1 {
  color: $black;
  font-family: $poppins;
  font-size: 4rem;
  font-weight: 600;
}

.h2 {
  color: $black;
  font-family: $poppins;
  font-size: 3rem;
  font-weight: 600;
}

.text {
  color: $black;
  font-family: $poppins;
  font-size: 1rem;
  font-weight: 100;
}
