@import "~styles/colors";
@import "~styles/fonts";

.typography {
  color: $black;
  font-family: $poppins;
  margin: 0;
}

// ----- sizes ----- //

.medium {
  font-size: 0.75rem;
}

.normal {
  font-size: 0.875rem;
}

.small {
  font-size: 0.625rem;
}

// ----- weights ----- //

.bold {
  font-weight: 400;
}

.light {
  font-weight: 100;
}

.regular {
  font-weight: 200;
}

