@import "~styles/_colors";
@import "~styles/_shadows";

.styledCheckbox {
  align-items: center;
  border-radius: 0.25rem;
  cursor: pointer;
  display: flex;
  height: 1rem;
  justify-content: center;
  outline: none;
  width: 1rem;
  transition: all 0.2s;
}

.svg {
  > path {
    stroke: @white;
  }
}

.svgHidden {
  visibility: hidden;
}

.svgVisible {
  visibility: visible;
}

// ----- CHECKBOX STATES ----- //

.checked {
  background: @blue;
  border: 0.125rem solid transparent;
  &:active {
    box-shadow: @buttonClickShadow;
  }
  &:hover {
    background: @lightBlue;
  }
}

.unchecked {
  background: @white;
  border: 0.125rem solid @lightGrey;
}

.disabled-checked {
  background: @disabledGrey;
  border: 0.125rem solid transparent;
  cursor: not-allowed;
  &:hover {
    background: @disabledGrey;
  }
}

.disabled-unchecked {
  background: @disabledInputGrey;
  cursor: not-allowed;
}
