@import '~antd/lib/checkbox/style/index.less';

@checkbox-size: 12px;

.ant-checkbox-checked::after{
  animation: none;
  border: none;
}

.ant-checkbox-checked:not(.ant-checkbox-disabled) {
  .ant-checkbox-inner {
    background-color: @blue;
  }
}

.ant-checkbox {
  :focus {
    outline: none;
  }
}

.ant-checkbox-inner {
  border-color: @blue !important;
}

.ant-checkbox-wrapper {
  span:nth-child(2) {
    color: @black;
    font-family: @poppins;
    font-weight: 300;
    user-select: none;
  }
}
