@marginLeft: 0.5rem;

.checkboxDiv {
  &:not(:last-child) {
    margin-bottom: 0.75rem;
  }
}

.divContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.footerDivContainer {
  display: flex;
  justify-content: space-between;
  margin-left: @marginLeft;
}

.optionsContainer {
  margin-left: @marginLeft;
}

.typographyDiv {
  margin-left: @marginLeft;
}
