@import "~styles/_sizes";

.descriptionContainer {
  display: flex;
  flex-direction: column;
  height: @userCardDescriptionHeight;
  margin: @userCardDescriptionMargin;
}

.subTitle {
  margin: 0.5rem 0 0.75rem 0;
}
