@import "~styles/_colors";
@import "~styles/_fonts";

.typographyMixin {
  font-family: @prompt;
}

// ----- COLOR ----- //

.black {
  color: @black;
}

.white {
  color: @white;
}

// ----- MARGIN ----- //

.hasMargin {
  margin: 1rem 0;
}

.noMargin {
  margin: 0;
}

// ----- TYPE ----- //

.h1 {
  .typographyMixin;
  font-size: 3rem;
  font-weight: 500;
}

.h2 {
  .typographyMixin;
  font-size: 2.25rem;
  font-weight: 500;
}

.h3 {
  .typographyMixin;
  font-size: 2.25rem;
  font-weight: 300;
}

.h4 {
  .typographyMixin;
  font-size: 1.5rem;
  font-weight: 500;
}

.h5 {
  .typographyMixin;
  font-size: 1rem;
  font-weight: 300;
}

.h6 {
  .typographyMixin;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 120%;
}

.bodyLarge {
  .typographyMixin;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 175%;
}

.bodyDefault {
  .typographyMixin;
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
}

.bodySmall {
  .typographyMixin;
  font-size: 0.75rem;
  font-weight: 300;
}

.linkDefault {
  .typographyMixin;
  color: @blue;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  transition: color 0.5s;
  &:hover {
    color: @lightBlue;
  }
}
