table, .table {
  border-collapse: collapse;
  width: 100%;
}

.table {
  &.striped {
    .tbody {
      .tr {
        display: flex;
        padding: 0 1%;
        &:first-of-type {
          border-top: solid 1px $darkWhite;
        }
        &.even {
          background-color: $paleLightBlue;
        }
        &.odd {
          background-color: $white;
        }
        .td {
          &.pre {
            white-space: pre-wrap;
          }
          .flag {
            color: $white;
            text-align: center;
            word-break: initial;
            display: block;
            padding: 3.75px 7.5px;
            background-color: $lightGreen;
            border-radius: 4px;
          }
          display: flex;
          align-items: center;
          font-size: 14px;
          color: $black;
          &:not(.checkbox):not(.actions) {
            padding: 1% 0.5%;
          }
          &.checkbox {
            width: 2.5%;
            display: flex;
            align-items: center;
            justify-content: center;
            i {
              font-size: 22px;
            }
          }
          &.text-center {
            justify-content: center;
          }
          &.actions {
            display: flex;
            width: 10%;
            a {
              display: flex;
              align-items: center;
              text-decoration: none;
            }
            div {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-around;
              align-items: center;
              flex: 1;
              i {
                font-size: 20px;
                cursor: pointer;
                color: $darkGrey;
                &:hover {
                  color: $blue;
                }
                &.disabled {
                  cursor: not-allowed;
                  color: $grey;
                }
              }
            }
          }
          &.column {
            flex-direction: column;
            align-items: unset;
            div {
              display: flex;
              flex: 1;
              padding: 1% 0;
              align-items: center;
            }
            .text-center {
              text-align: center;
            }
            &.text-center {
              align-items: center;
              text-align: center;
              word-break: break-word;
            }
          }
        }
      }
    }
    tbody {
      tr:nth-child(odd) {
        background-color: $lightGrey;
      }
      tr:nth-child(even) {
        background-color: $darkWhite;
      }
    }
  }
  tbody {
    tr {
      th, td {
        padding: 1% 0;
      }
      td:first-of-type {
        padding-left: 1%;
      }
      td:last-of-type {
        padding-right: 1%;
      }
      &:hover:not(:first-child) {
        &:nth-child(odd), &:nth-child(even) {
          background-color: $white;
        }
      }
      &.header {
        background: $white;
        color: $black;
      }
    }
  }
  @import '_prospects';
}
