@import "~styles/_colors";
@import "~styles/_fonts";

// ----- overall styling ----- //

.typography {
  margin: 0;
}

// ----- colors ----- //

.black {
  color: @black;
}

.blue {
  color: @blue;
}

.lightGrey {
  color: @lightGrey;
}

.transparentWhite {
  color: @transparentWhite;
}

.white {
  color: @white;
}

// ----- fonts ----- //

.poppins {
  font-family: @poppins;
}

.roboto {
  font-family: @roboto;
}

// ----- sizes ----- //

.large {
  font-size: 1.25rem;
}

.medium {
  font-size: 0.75rem;
}

.normal {
  font-size: 0.875rem;
}

.small {
  font-size: 0.625rem;
}

.xl {
  font-size: 2.25rem;
}

// ----- weights ----- //

.bold {
  font-weight: 400;
}

.light {
  font-weight: 100;
}

.regular {
  font-weight: 300;
}

