@import "~styles/_colors";
@import "~styles/_fonts";
@import "~styles/_sizes";

// ----- OVERALL STYLING ----- //

.typography {
  margin: 0;
}

// ----- COLORS ----- //

.black {
  color: @black;
}

.blue {
  color: @blue;
}

.lightGrey {
  color: @lightGrey;
}

.orange {
  color: @orange;
}

.red {
  color: @red;
}

.transparentWhite {
  color: @transparentWhiteThreeQuarterOpacity;
}

.white {
  color: @white;
}

// ----- FONTS ----- //

.poppins {
  font-family: @poppins;
}

.roboto {
  font-family: @roboto;
}

// ----- SIZES ----- //

.one {
  font-size: @typographyOne;
}

.two {
  font-size: @typographyTwo;
}

.three {
  font-size: @typographyThree;
}

.four {
  font-size: @typographyFour;
}

.five {
  font-size: @typographyFive;
}

.normal {
  font-size: @typographyNormal;
}

// ----- TEXT ALIGN ----- //

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

// ----- WEIGHTS ----- //

.bold {
  font-weight: 400;
}

.light {
  font-weight: 100;
}

.regular {
  font-weight: 300;
}

// ----- BUTTON & LINK ----- //

.buttonAndLinkMixin {
  align-items: center;
  color: @blue;
  display: flex;
  text-decoration: none;
  &:hover {
    color: @blueHover;
  }
  svg {
    margin-right: 0.375rem;
  }
}

.button {
  .buttonAndLinkMixin;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.link {
  .buttonAndLinkMixin;
}

