@import "~styles/_colors";
@import "~styles/_fonts";

// ----- OVERALL STYLING ----- //

.typography {
  margin: 0;
}

// ----- COLORS ----- //

.black {
  color: @black;
}

.blue {
  color: @blue;
}

.lightGrey {
  color: @lightGrey;
}

.orange {
  color: @orange;
}

.red {
  color: @red;
}

.transparentWhite {
  color: @transparentWhite;
}

.white {
  color: @white;
}

// ----- FONTS ----- //

.poppins {
  font-family: @poppins;
}

.roboto {
  font-family: @roboto;
}

// ----- SIZES ----- //

.one {
  font-size: 0.625rem;
}

.two {
  font-size: 0.75rem;
}

.three {
  font-size: 1rem;
}

.four {
  font-size: 1.25rem;
}

.five {
  font-size: 2.25rem;
}

.normal {
  font-size: 0.875rem;
}

// ----- WEIGHTS ----- //

.bold {
  font-weight: 400;
}

.light {
  font-weight: 100;
}

.regular {
  font-weight: 300;
}

// ----- BUTTON & LINK ----- //

.buttonAndLinkMixin {
  align-items: center;
  color: @blue;
  display: flex;
  text-decoration: none;
  &:hover {
    color: @blueHover;
  }
}

.button {
  .buttonAndLinkMixin;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.link {
  .buttonAndLinkMixin;
}

