.div {
  align-items: center;
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.dot {
  background: @black;
  border-radius: 50%;
  height: 0.25rem;
  margin: 0.125rem;
  width: 0.25rem;
}
