@import "~styles/_colors";
@import "~styles/_sizes";

.header {
  background: @white;
  border-bottom: 0.0625rem solid @navBorder;
  display: flex;
  height: @headerHeight;
  justify-content: space-between;
}
