@import "~antd/lib/tooltip/style/index.less";
@import "~styles/_colors";
@import "~styles/_fonts";

@tooltip-color: @white;
@tooltip-bg: @blue;

.myBord-ant-tooltip {
  .ant-tooltip-inner {
    font-family: @poppins;
    font-size: 0.875rem;
    line-height: 1.375rem;
    min-height: 0;
    min-width: 0;
    padding: 0.3125rem 0.5rem;
  }
  .ant-tooltip-arrow {
    &::before {
      height: 0.53125rem;
      width: 0.53125rem;
    }
  }
}
