@import "~styles/_colors";

@standard-border: solid 1px @darkGrey;
@input-border: solid 1px @lighterGrey;

.customOutlineMixin {
  outline: none;
  border: 1px solid @blue;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
