@import '~styles/_colors';
@import '~styles/_shadows';

// Box that appears in our landing page, of various sizes
.landingBox {
  background: @white;
  border-radius: 0.25rem;
  box-shadow: @landingFormBoxShadow;
  position: absolute;
}

.aboutPageBox {
  .landingBox;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}
