// Greyscale
$black: #565e5f;
$blackHalfOpacity: rgba(86, 94, 95, 0.5);
$blackQuarterOpacity: rgba(86, 94, 95, 0.25);
$blackTenthOpacity: rgba(86, 94, 95, 0.1);
$darkGrey: #afaeb4;
$darkGreyHalfOpacity: rgba(175, 174, 180, 0.5);
$darkGreyQuarterOpacity: rgba(175, 174, 180, 0.25);
$lighterGrey: #ccc;
$grey: #d7d8d4;
$lightGrey: #f5f5f5;
$darkWhite: #fafafa;
$white: #ffffff;
$gitBorder: #dfe2e5;
$gitBackground: #f8f8f8;

// Colors
$lightBlue: #c0e0de;
$blue: #44a9cc;
$blueFaded: #e9f3f7;
$blueQuarterOpacity: rgba(68, 154, 204, 0.25);
$darkBlue: #2b4162;
$paleLightBlue: #e3eff6;
$green: #bed065;
$darkGreen: #92bda3;
$darkGreenFaded: #f1f5f3;
$darkGreenQuarterOpacity: rgba(146, 189, 163, 0.25);
$lightGreen: #92bda3;
$phoneGreen: #4cd964;
$orange: #e47911;
$orangeFaded: #fbeee0;
$orangeQuarterOpacity: rgba(228, 121, 17, 0.25);
$red: #c62828;
$redFaded: #f6e6e6;
$redQuarterOpacity: rgba(198, 40, 40, 0.25);
$phoneRed: #ff3b30;
$errorRed: #d9534f;
$yellow: #dbd646;
