// ----- GREYSCALE ----- //

@appBackground: #F3F5FA;
@black: #565E5F;
@darkBlack: #161925;
@gitBackground: #F8F8F8;
@gitBorder: #DfE2E5;
@lightGrey: #A4AAAF;
@grey: #D7D8D4;
@navBorder: #E6E8E9;
@white: #FFF;
@antBorderColor: #D9D9D9;

// ----- TRANSPARENT GREYSCALE ----- //

@transparentBlackQuarterOpacity: #565E5F40; // 25% opacity
@transparentBlack: #565E5fA6; // 65% opacity
@transparentBlackThreeQuarterOpacity: #565E5FBF; // 75% opacity
@transparentBlackDarker: #565E5fD9; // 85% opacity
@transparentBlackDarkest: #565E5FE6; // 90% opacity
@transparentWhiteHalfOpacity: #FFFFFF80; // 25% opacity
@transparentWhiteThreeQuarterOpacity: #FFFFFFBF; // 75% opacity

// ----- COLORS ----- //

@lightBlue: #1FBCFF;
@blue: #00A6ED;
@darkBlue: #008FCC;

@lightRed: #EE2F5F;
@red: #E41245;
@darkRed: #BD0F3B;

@brown: #E19470;
@green: #7DCC93;
@navy: #21354B;
@orange: #F17D00;
@purple: #31355A;
@yellow: #FCC900;

// ----- TRANSPARENT COLORS ----- //

@blueThreeQuarterOpacity: #00A6EDBF; // 75% opacity
@yellowHalfOpacity: #FCC90080; // 50% opacity

// 20% opacities are used for ant design box shadows (e.g. text input box shadows)
@blueTwentyPercentOpacity: #00A6ED33;
@redTwentyPercentOpacity: #E4124533;

// ----- EXPORTED COLORS ----- //

/* stylelint-disable */
:export {
  black: @black;
  blue: @blue;
  green: @green;
  lightGrey: @lightGrey;
  orange: @orange;
  purple: @purple;
  red: @red;
  transparentBlack: @transparentBlack;
  transparentWhite: @transparentWhiteThreeQuarterOpacity;
  white: @white;
  yellow: @yellow;
}
/* stylelint-enable */
