// Greyscale
@appBackground: #F3F5FA;
@black: #565e5f;
@darkBlack: #161925;
@gitBackground: #f8f8f8;
@gitBorder: #dfe2e5;
@lightGrey: #A4AAAF;
@grey: #d7d8d4;
@navBorder: #E6E8E9;
@white: #FFF;

// Transparent Greyscale
@transparentBlack: #565e5fa6;
@transparentBlackDarker: #565e5fd9;
@transparentBlackLighter: #798486a6;
@transparentWhite: #ffffffb8;

// Colors
@blue: #00A6ED;
@blueHover: #28C2fA;
@darkBlue: #0096db;
@darkerBlue: #0081c3;
@brown: #E19470;
@green: #7DCC93;
@navy: #21354B;
@orange: #F17D00;
@purple: #31355A;
@red: #E41245;
@yellow: #FCC900;
@yellowHalf: rgba(252, 201, 0, 0.5);

/* stylelint-disable */
:export {
  black: @black;
  blue: @blue;
  lightGrey: @lightGrey;
  orange: @orange;
  red: @red;
  transparentBlack: @transparentBlack;
  transparentWhite: @transparentWhite;
  white: @white;
}
/* stylelint-enable */
