// Greyscale
@appBackground: #F3F5FA;
@black: #565e5f;
@darkBlack: #000;
@gitBackground: #f8f8f8;
@gitBorder: #dfe2e5;
@lightGrey: #A4AAAF;
@grey: #d7d8d4;
@navBorder: #E6E8E9;
@transparentBlack: #565e5fa6;
@transparentBlackDarker: #565e5fd9;
@transparentBlackLighter: #798486a6;
@transparentWhite: #ffffffb8;
@white: #FFF;

// Colors
@blue: #66A8D5;
@darkBlue: #557faa;
@brown: #E19470;
@green: #7DCC93;
@navy: #21354B;
@purple: #31355A;
@red: #F76160;
