@import "~styles/_colors";

@rockwell: 'Rockwell W02', 'Rockwell', 'Rokkitt', Arial, serif;
@helvetica-neue: 'Helvetica Neue W01', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body, div, p, span, a, table, .text {
  font-family: @helvetica-neue;
}

h1, h2, h3, .display {
  font-family: @rockwell;
}

h1 {
  font-size: 24px;
}

h2 {

}

h3 {
  font-size: 1.15rem;
}

h4, h5, h6 {
  font-family: @rockwell;
  font-weight: 200;
}

h4 {
  color: @blue;
  font-size: 1.3rem;
  margin: 1rem;
}

h5 {
  color: @black;
  font-size: 1.3rem;
  margin: 0.5rem 1rem;
}

// Should be used for white titles on blue backgrounds
h6 {
  color: white;
  font-size: 1.3rem;
  margin: 0;
}

input, textarea {
  font-size: 12px;
}
