// ToDo: remove this file and styling
@import "~styles/_colors";
@import "~styles/_fonts";

header {
  &.primary {
    display: flex;
    align-items: center;
    height: 46px; // ToDo: convert to rem.
    padding: 0 1rem;
    background-color: @blue;
  }
  &.tile {
    background: @white;
    height: 25%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    color: @black;
    font-family: @helvetica-neue;
  }
}
