// ----- ANT ----- //

// ant form sizes
@formItemMarginBottom: 0.75rem;

// ----- CARDS ----- //

// general card sizes
@cardContentHeight: 8.4375rem;
@cardDescriptionHeight: 6.5rem;
@cardInnerMargin: 0.75rem;
@cardMargin: 1rem;
@cardTotalHeight: calc(@cardContentHeight + @cardDescriptionHeight + @cardMargin * 2);
@cardWidth: 15rem;
@stackCardMargin: 3rem;
@stackCardSize: 7rem;
@stackCardBorderRadius: 1rem;

// ----- FOOTER ----- //

@footerMarginTop: 2rem;

// ----- FORMS ----- //

// login form
@formHorizontalPadding: 1.5rem;

// ----- MODALS ----- //

@caretSize: 0.625rem;

// ----- NAVIGATION ----- //

@headerHeight: 3rem;
@headerMarginTop: 2.5rem;
@navWidth: 5rem;
@navWidthExpanded: 15rem;
@navigationButtonHeight: 4rem;
@navigationButtonMargin: 0.5rem;

// ----- OTHER ----- //

@standardBorderRadius: 0.5rem;

// ----- PAGES ----- //

@dashboardPagePaddingLeft: 1rem;
@pageMarginLeft: calc(@cardMargin + @dashboardPagePaddingLeft);
@aboutDevPageMargin: 7rem;

// ----- SIZE EXPORTS ----- //

/* stylelint-disable */
:export {
  caretSize: @caretSize;
  headerHeight: @headerHeight;
  headerMarginTop: @headerMarginTop;
  navWidth: @navWidth;
  stackCardSize: @stackCardSize;
}
/* stylelint-enable */

// ----- TYPOGRAPHY ----- //

@typographyOne: 0.625rem;
@typographyTwo: 0.75rem;
@typographyThree: 1.0rem;
@typographyFour: 1.25rem;
@typographyFive: 2.25rem;
@typographyNormal: 0.875rem;
