// navigation sizes
$headerHeight: 3rem;
$navWidthExpanded: 10rem;
$navWidthCollapsed: 5rem;

// media queries
$mobileWindowWidth: 43.75rem; // Maximum window width in which desktop browser gets mobile view.
