// ----- ANT ----- //

// ant form sizes
@formItemMarginBottom: 0.75rem;
@formItemMarginBottomWithHelp: calc(@formItemMarginBottom + 0.5rem);

// ----- CARDS ----- //

@userCardContentHeight: 9.375rem;
@userCardDescriptionMargin: 1.125rem;
@userCardHeight: 20rem;
@userCardDescriptionHeight: @userCardHeight - (
  @userCardDescriptionMargin * 2 + @userCardContentHeight
);

@stackCardMargin: 3rem;
@stackCardSize: 7rem;
@stackCardBorderRadius: 1rem;


// ----- FOOTER ----- //

@footerMarginTop: 2rem;
@footerListMargin: 3rem;
@footerLogoSize: 5rem;

// ----- FORMS ----- //

// login form
@formHorizontalPadding: 1.5rem;

// ----- MODALS ----- //

@caretSize: 0.625rem;
@toastWidth: 24.5rem;

// ----- NAVIGATION ----- //

@headerHeight: 3rem;
@headerMarginTop: 2.5rem;
@navWidth: 5rem;
@navWidthExpanded: 15rem;
@navigationButtonHeight: 4rem;
@navigationButtonMargin: 0.5rem;

// ----- OTHER ----- //

@standardBorderRadius: 0.5rem;

// ----- PAGES ----- //

@userDashboardPagePaddingLeft: 1rem;
@aboutPageMargin: 7rem;

// ----- SIZE EXPORTS ----- //

/* stylelint-disable */
:export {
  caretSize: @caretSize;
  footerListMargin: @footerListMargin;
  footerLogoSize: @footerLogoSize;
  headerHeight: @headerHeight;
  headerMarginTop: @headerMarginTop;
  navWidth: @navWidth;
  stackCardSize: @stackCardSize;
  toastWidth: @toastWidth;
}
/* stylelint-enable */

// ----- TYPOGRAPHY ----- //

@typographyOne: 0.625rem;
@typographyTwo: 0.75rem;
@typographyThree: 1.0rem;
@typographyFour: 1.25rem;
@typographyFive: 2.25rem;
@typographyNormal: 0.875rem;
