// ToDo: remove this file and styling
@import "~styles/_colors";
@import "~styles/_fonts";

.thead {
  background-color: @white;
  font-weight: 500;
  width: 100%;
  .tr {
    display: flex;
    padding: 0 1%;
    .th {
      color: @black;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      display: flex;
      font-size: 14px;
      font-family: @rockwell;
      text-transform: capitalize;
      section {
        font-family: @rockwell;
      }
      &.actions {
        width: 10%;
        .fa {
          font-size: 22px;
          cursor: pointer;
          color: @darkGrey;
          &:hover, &.active {
            color: @blue;
          }
        }
      }
      &.checkbox {
        width: 2.5%;
        i.fa-square-o {
          margin-left: -5px;
        }
        i.fa-check-square-o {
          margin-left: -2px;
        }
      }
      &:not(.checkbox):not(.actions) {
        padding: 0.5%;
      }
      &.sortable {
        cursor: pointer;
        &:hover .sort {
          .fa:not(.active) {
            color: @blue;
          }
        }
        .sort {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex: 1;
          height: 100%;
          padding: 0 5%;
          cursor: pointer;
          section {
            &:last-of-type {
              padding: 0 5%;
            }
          }
        }
      }
    }
  }
}
