@zEmailModal: 7;
@zNavigation: 2; // needs to be 2 and not 1 so the dropdown nav bars cover up the buttons in the
// filters container in the prospects list.
@zNavigationBars: 1;
@zNavigationMenu: 1;
@zNavigationMenuButton: 2;
@zNavigationModalBody: 1;
@zNavigationModalCaret: 2;
@zProspectsTableSidebar: 1;
@zToaster: 8;
@zTray: 3;
@zTrayExpanded: 6;
