:global {
  #p-2 {
    margin-top: 5rem;
  }
}

.img {
  border-radius: 2rem;
  height: 45%;
  width: 45%;
}

.paragraphDiv {
  width: 45%;
}

.paragraphSection {
  display: flex;
  justify-content: space-between;
}
