@import "~styles/_sizes";

:global {
  #p-2 {
    margin-top: 5rem;
  }
}

.img {
  border-radius: 2rem;
  height: 30%;
  max-width: 25rem;
  min-width: 16rem;
  width: 30%;
}

.imgLeft {
  margin-right: 2rem;
}

.imgRight {
  margin-left: 2rem;
}

.paragraphDiv {
  align-items: center;
  display: flex;
  width: 65%;
}

.paragraphSection {
  align-items: center;
  display: flex;
  margin: 0 @aboutDevPageMargin;
  justify-content: space-between;
}
