:global {
  #p-2 {
    margin-top: 5rem;
  }
}

.img {
  border-radius: 2rem;
  height: 30%;
  min-width: 16rem;
  width: 30%;
}

.paragraphDiv {
  align-items: center;
  display: flex;
  max-width: 40rem;
  width: 60%;
}

.paragraphSection {
  align-items: center;
  display: flex;
  margin: 0 7rem;
  justify-content: space-between;
}
