.buttonsDiv {
  display: flex;
  margin-top: 1rem;
}

.favoriteDiv {
  :global {
    .card-like-button {
      margin-top: 0.125rem;
    }
  }
}

.rowDiv {
  display: flex;
}

.toDoDiv {
  margin-right: 3rem;
}
