/* stylelint-disable */

.box {
  background: pink;
  height: 20rem;
  margin: 5rem;
  width: 20rem;
}

.container {
  border: 0.2rem solid #E41245;
  height: 40rem;
  margin: 5rem;
  width: 70rem;
}

.content {
  margin: 2rem;
}

.div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popOver {
  background: orange;
  border-radius: 4px;
  position: absolute;
}

.select {
  :global {
    .ant-select {
      width: 20rem;
    }
  }
}
