/* stylelint-disable */

.box {
  background: pink;
  height: 20rem;
  margin: 5rem;
  width: 20rem;
}

.container {
  border: 0.2rem solid #E41245;
  height: 40rem;
  margin: 5rem;
  width: 70rem;
}

.div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.modal {
  position: absolute;
  background: orange;
  border-radius: 4px;
  height: 5rem;
  width: 5rem;
}
