@import "~styles/_colors";

.divContainer {
  border-radius: 0.375rem;
  display: inline-flex;
  height: 1.5rem;
  padding: 0 0.625rem;
}

// ----- COLORS ----- //

.blue {
  background: @blue;
}

.pink {
  background: @pink;
}

.purple {
  background: @purple;
}

.yellow {
  background: @yellow;
}
