@import "~styles/_colors";
@import "~styles/_sizes";
@import "~styles/_shadows";

.button {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.div {
  align-items: center;
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.dot {
  background: @black;
  border-radius: 50%;
  height: 0.25rem;
  margin: 0.125rem;
  width: 0.25rem;
}

.overlay {
  background: #E41245;
  height: 12rem;
  left: 6rem;
  position: absolute;
  top: -1rem;
  width: 8rem;
  z-index: -1;
}
