.horizontal {
  :global {
    .ant-form-item {
      margin-bottom: @formItemMarginBottom;
    }
  }
}

.login {
  padding: 0 @formHorizontalPadding 1.25rem @formHorizontalPadding !important;
  width: 20rem;
}

.vertical {
  :global {
    .ant-form-item-with-help {
      margin-bottom: @formItemMarginBottomWithHelp;
      transition: @formItemMarginBottomTransition;
    }
  }
}
