.dot {
  background: @blue;
  border-radius: 50%;
}

.ellipsis {
  cursor: pointer;
  display: inline-flex;
  margin: 0 0 0 0.125rem;
  &:hover {
    > div {
      background: @lightBlue;
    }
  }
}

.p {
  margin: 0;
  white-space: break-spaces;
}

// ----- LINE HEIGHT ----- //

.large {
  line-height: 3rem;
}

// ----- ELLIPSIS DOT SIZES ----- //

/* stylelint-disable unit-blacklist, unit-whitelist */

.one {
  > div {
    height: 3px;
    margin: 1px;
    width: 3px;
  }
}

.two {
  > div {
    height: 4px;
    margin: 2px;
    width: 4px;
  }
}

.normal {
  > div {
    height: 4px;
    margin: 4px;
    width: 4px;
  }
}

.three {
  > div {
    height: 4.5px;
    margin: 4.5px;
    width: 4.5px;
  }
}

.four {
  > div {
    height: 5.75px;
    margin: 5.75px;
    width: 5.75px;
  }
}

.five {
  > div {
    height: 10px;
    margin: 10px;
    width: 10px;
  }
}

/* stylelint-enable unit-blacklist, unit-whitelist */
