@import "~styles/_sizes";

.horizontal {
  display: flex;
  > div:first-of-type {
    align-items: center;
    display: flex;
    margin: 0 1rem @formItemMarginBottom 0;
  }
}

.typographyDiv {
  line-height: initial;
}

.vertical {
  // Leaving empty for future css needs
}

