@import "~styles/_sizes";

.horizontal {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-right: 1rem;
  :global {
    .ant-form-item {
      margin-bottom: 0;
    }
  }
  p {
    margin-right: 0.5rem;
  }
}

.typographyDiv {
  line-height: initial;
}

.vertical {
  // Leaving empty for future css needs
}

