@import "~styles/_sizes";

.footerContent {
  display: flex;
  margin-top: @footerMarginTop;
}

.list {
  margin: 0 @footerListMargin;
}

.ul {
  list-style: none;
  padding: 0;
  > li {
    margin: 0.5rem 0;
  }
}
