@import "~styles/_colors";
@import "~styles/_sizes";

.activeLink {
  > svg {
    * {
      stroke: @blue !important;
      transition: 0.5s stroke ease;
    }
  }
}

.link {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: @navigationButtonHeight;
  margin: @navigationButtonMargin 0;
  position: relative;
  text-decoration: none;
  &:hover {
    > svg {
      * {
        stroke: @darkBlack;
        transition: 0.5s stroke ease;
      }
    }
  }
  > svg {
    pointer-events: none;
    * {
      stroke: @lightGrey;
      transition: 0.5s stroke ease;
    }
  }
}
