input, a, input[type="submit"] {
  cursor: pointer;
  border-radius: 4px;
  &.primary {
    background-color: $blue;
  }
  &.secondary {
    background-color: transparent;
    border: solid 1px $blue;
    color: $blue;
    &:disabled {
      color: $white;
      &:hover {
        border: solid 1px $darkGrey;
      }
    }
  }
}

input[type="submit"] {
  outline: none;
  background-color: $blue;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  padding: 1.5% 5%;
  width: 100%;
  border: solid 1px $blue;
  &:disabled {
    background-color: $darkGrey;
    border: solid 1px $darkGrey;
    cursor: not-allowed;
  }
}
