.checkbox {
  width: 100%;
  .fa-square-o, .fa-check-square-o {
    font-size: 19px;
  }
  .fa-check-square-o, .fa-square-o {
    min-width: 22px;
  }
  label {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    span {
      margin-left: 5%;
      width: 100%;
      label {
        font-size: 14px;
      }
    }
    .fa-square-o {
      color: $darkGrey;
    }
    .fa-check-square-o {
      color: $blue;
    }
    .fa-check-square-o {
      position: relative;
    }
    input[type="checkbox"] {
      display: flex;
      align-items: center;
      display: none;
      &:disabled {
        &:checked {
          ~ .fa-square-o {
            display: none;
          }
          ~ .fa-check-square-o {
            cursor: not-allowed;
            color: $darkGrey;
          }
        }
        &:not(:checked) {
          ~ .fa-square-o {
            display: none;
            cursor: not-allowed;
            color: $grey;
          }
          ~ .fa-check-square-o {
            display: none;
          }
        }
      }
      &:checked {
        ~ .fa-square-o {
          display: none;
        }
      }
      &:not(:checked) {
        ~ .fa-check-square-o {
          display: none;
        }
      }
    }
  }
}
