// Greyscale
$black: #565e5f;
$darkGrey: #afaeb4;
$grey: #d7d8d4;
$lightGrey: #f5f5f5;
$darkWhite: #fafafa;
$white: #ffffff;

// Colors
$red: #c62828;
$darkBlue: #2b4162;
$orange: #e47911;
$yellow: #dbd646;
$blue: #44a9cc;
$green: #bed065;
$lightGreen: #92bda3;

// Old Colors
$disabledText: #7f7f7f;
$pewter: #575e5f;
$taupe: #e9eae5;

// Table Row Shading
$paleLightBlue: #e3eff6;
