.g {
  &.custom-select {
    height: 30px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    select {
      -webkit-appearance: none;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: transparent !important;
      margin: 0 !important;
      font-size: 14px;
      text-indent: 2.5%;
      color: #565e5f;
      border-radius: 0;
      padding-right: 25px;
      &:focus {
        outline-style: none;
        border: 1px solid $blue;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      }
    }
    section {
      padding: 0;
      height: 100%;
      flex-wrap: nowrap;
      justify-content: flex-end;
      width: 100%;
      display: flex;
      align-items: center;
      i {
        color: $black;
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 0 7.5px;
        margin-right: 2px;
      }
    }
  }
  &.custom-input {
    width: 100%;
    input {
      background: $white;
      border-radius: 0;
      text-indent: 2%;
      color: #565e5f;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      width: 100%;
      box-sizing: border-box;
      height: 30px;
      &:focus {
        outline-style: none;
        border: 1px solid $blue;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      }
    }
  }
  &.custom-textarea {
    width: 100%;
    textarea {
      &:focus {
        outline-style: none;
        border: 1px solid $blue;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      }
      padding-top: 5px;
      background: $white;
      border-radius: 0;
      padding: 2%;
      color: #565e5f;
      font-size: 14px;
      border-width: 1px;
      border-style: solid;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      width: 100%;
      box-sizing: border-box;
      height: 30px;
      min-height: 60px;
    }
  }
}
