.radio {
  display: flex;
  align-items: center;
  flex: 1;
  .fa-circle-thin {
    width: 22px;
    height: 22px;
    text-align: center;
    cursor: pointer;
  }
  .fa-stack {
    width: 22px;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
    .fa-circle {
      font-size: 14px !important;
    }
    .fa-circle-thin {
      font-size: 22px;
    }
  }
  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked {
    ~ .fa-circle-thin {
      display: none;
    }
  }
  input[type="radio"]:not(:checked) {
    ~ .fa-stack {
      display: none;
    }
  }
}
