/* stylelint-disable */

.iconDiv {
  display: flex;
  justify-content: center;
  margin-right: 8px;
  width: 28px;
  > svg {
    margin-right: 0;
  }
}

.li {
  align-items: center;
  display: flex;
  margin: 0.375rem 0;
}

.toDoDiv {
  display: flex;
  > button {
    margin-right: 0.5rem;
  }
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0 0.5rem;
}
