@import "~styles/_colors";

.boxDiv {
  align-items: center;
  background: @blue;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;
}

.boxDivContainer {
  display: flex;
  justify-content: center;
}

.typographyDiv {
  padding: 0 1rem;
  width: 20rem;
}
