@import "~styles/_colors";
@import "~styles/_fonts";

.button {
  align-items: center;
  display: flex;
  > svg {
    margin-right: 0.5rem;
  }
}

.primary {
  background: @blue !important;
  &:hover {
    background: @darkBlue !important;
    border-color: @darkBlue !important;
  }
}

.secondary {
  border-color: @blue;
  color: @blue;
  font-family: @poppins;
  &:hover {
    border-color: @darkBlue !important;
    color: @darkBlue !important;
  }
}

.tertiary {
  border-color: transparent;
  box-shadow: none;
  color: @blue;
  font-family: @poppins;
  &:hover {
    border-color: transparent !important;
    color: @darkBlue !important;
  }
}
