@import "~styles/_colors";
@import "~styles/_fonts";

// ----- GENERAL STYLE ----- //

.button {
  align-items: center;
  display: flex;
  > svg {
    margin-right: 0.5rem;
  }
}

// ----- COMMON TYPE STYLINGS ---- //

.primary {
  font-family: @poppins;
}

.secondary {
  font-family: @poppins;
}

.tertiary {
  border-color: transparent;
  box-shadow: none;
  font-family: @poppins;
  &:hover {
    border-color: transparent !important;
  }
}

// ----- BLUE BUTTON ----- //

.primary-blue {
  .primary;
  background: @blue !important;
  border-color: @blue;
  &:hover {
    background: @darkBlue !important;
    border-color: @darkBlue !important;
  }
}

.secondary-blue {
  .secondary;
  border-color: @blue;
  color: @blue;
  &:hover {
    border-color: @darkBlue !important;
    color: @darkBlue !important;
  }
}

.tertiary-blue {
  .tertiary;
  color: @blue;
  &:hover {
    color: @darkBlue !important;
  }
}

// ----- RED BUTTON ----- //

.primary-red {
  .primary;
  background: @red !important;
  border-color: @red;
  &:hover {
    background: @darkRed !important;
    border-color: @darkRed !important;
  }
}

.primary-red-disabled {
  .primary;
}

.secondary-red {
  .secondary;
  border-color: @red;
  color: @red;
  &:hover {
    border-color: @darkRed !important;
    color: @darkRed !important;
  }
}

.tertiary-red {
  .tertiary;
  color: @red;
  &:hover {
    color: @darkRed !important;
  }
}
