@import "~styles/_sizes";

.hr {
  border-width: 0 0.0625rem 0 0;
  height: 60%;
}

.hrDiv {
  align-items: center;
  display: flex;
  height: @headerHeight;
}

.hrParentDiv {
  overflow: hidden;
}

.section {
  display: flex;
}
