@import "~styles/_colors";
@import "~styles/_sizes";

.hr {
  border-color: @navBorder;
  border-width: 0 0.0625rem 0 0;
  height: 60%;
}

.section {
  align-items: center;
  display: flex;
  height: @headerHeight;
}
