@import "~styles/_colors";
@import "~styles/_sizes";

.arrowIconDiv {
  margin-left: 0.5rem;
  > svg {
    * {
      fill: @lightGrey;
    }
  }
}

.hr {
  border-width: 0 0.0625rem 0 0;
  height: 60%;
}

.hrDiv {
  align-items: center;
  display: flex;
  height: @headerHeight;
}

.hrParentDiv {
  overflow: hidden;
}

.notificationsIconDiv {
  align-items: center;
  display: flex;
  height: @headerHeight;
  margin: 0 1rem;
}

.profileIconDiv {
  align-items: center;
  display: flex;
  height: @headerHeight;
  margin: 0 0.5rem 0 1.5rem;
}

.section {
  display: flex;
}
