@import "~styles/_colors";

.activeLink {
  p {
    color: @blue !important;
    transition: 0.25s color ease;
  }
}

.link {
  margin: 1rem;
  text-decoration: none;
  &:hover {
    p {
      color: @black;
      transition: 0.25s color ease;
    }
  }
  p {
    transition: 0.25s color ease;
  }
}
