@import "~styles/_colors";

.button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 1rem;
  outline: none;
}

.arrowDiv {
  > svg {
    margin-left: 0.5rem;
    * {
      fill: @lightGrey;
    }
  }
}
