@import '~styles/_ant';

.buttonDiv {
  display: flex;
  button:first-child {
    margin-right: 2rem;
  }
}

.form {
  background: pink;
  width: 20rem;
  height: 30rem;
}

.formContainer {
  position: absolute;
  left: 5rem;
  top: 5rem;
  background: lightblue;
  width: 40rem;
  height: 40rem;
}

.img {
  height: 2.25rem;
  margin-right: 0.625rem;
  width: 2.25rem;
}

.loginDiv {
  display: flex;
  justify-content: space-between;
}

.logoDiv {
  display: flex;
  align-items: center;
}
