@import '~styles/_ant';
@import '~styles/_hr';
@import '~styles/_sizes';

@formHorizontalPadding: 1.5rem;

.buttonDiv {
  display: flex;
  justify-content: space-between;
  button {
    height: 2.25rem;
    justify-content: center;
    width: 9rem;
  }
}

.hr {
  .hrMixin;
  width: 30%;
}

.hrDiv {
  align-items: center;
  display: flex;
  margin-bottom: @formItemMarginBottom;
}

.hrText {
  margin: 0 1rem;
}

.form {
  padding: 1.25rem @formHorizontalPadding;
  width: 24rem;
}

.formContainer {
  background: @white;
  border-radius: 0.25rem;
  left: 5rem;
  position: absolute;
  top: 5rem;
}

.img {
  height: 2.25rem;
  margin-right: 0.625rem;
  width: 2.25rem;
}

.loginDiv {
  display: flex;
  justify-content: space-between;
}

.logoDiv {
  align-items: center;
  display: flex;
  margin: 0.5rem 0 0 @formHorizontalPadding;
}

.socialLoginDiv {
  align-items: center;
  display: flex;
  justify-content: space-between;
  button {
    height: 2.25rem;
    justify-content: center;
    width: 9rem;
  }
}
