@import "~styles/_colors";
@import "~styles/_sizes";

.div {
  height: calc(12rem + @navigationButtonMargin * 4);
  position: relative;
  width: 20rem;
}

.parentDiv {
  position: absolute;
}

.span {
  border-radius: 0 0.5625rem 0.5625rem 0;
  border: 0.125rem solid @blue;
  height: @navigationButtonHeight;
  position: absolute;
}
