.slide-appear {
  transform: translate3d(0,-100%,0);
  opacity: 0.01;
  &.slide-appear-active {
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: opacity .5s ease-in, transform .25s ease-in;
  }
}

.slide-up-appear {
  transform: translate3d(0,100%,0);
  &.slide-up-appear-active {
    transform: translate3d(0,0,0);
    transition: transform .3s ease-in;
  }
}

.slide-from-right-appear {
  opacity: 0.01;
  width: 0;
  transform: translate3d(100%,0,0);
  &.slide-from-right-active {
    opacity: 1;
    width: 100%;
    transform: translate3d(0,0,0);
    transition: opacity .5s ease-in, width .5s ease-in, transform .25s ease-in;
  }
}
