@backgroundImageWidth: 1364px;

.img {
  // https://css-tricks.com/perfect-full-page-background-image/
  min-width: @backgroundImageWidth;
  width: 100%;
}

.imgContainer {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main {
  height: 100%;
  overflow: auto;
  width: 100%;
}

.section {
  background: #7DCC93;
  height: 100vh;
}
