@import "~styles/_sizes";

.hidePages {
  overflow: initial;
}

.main {
  height: 100%;
  width: 100%;
}

.pageHeader {
  margin: 3rem 0 3rem calc(@aboutDevPageMargin - @pageMarginLeft);
}

.section {
  height: 100vh;
}

.showPages {
  overflow: auto;
}
