.formDiv {
  background: #FCC900; // todo: remove
  height: 100%; // todo: remove
  width: 40%; // todo: remove
}

.parentDiv {
  background: #28C2FA; // todo: remove
  display: flex;
  height: 40rem; // todo: remove
  justify-content: space-between;
  width: 50rem; // todo: remove
}

.previewDiv {
  background: #F17D00; // todo: remove
  height: 100%; // todo: remove
  width: 40%; // todo: remove
}
