&.bulk-actions {
  background-color: $taupe;
  padding: 1% 0 2.5%;
  h3 {
    text-align: center;
    margin-bottom: 1.25%;
    font-weight: 300;
    font-size: 18px;
    color: $black;
    .total {
      font-weight: 400;
      font-size: 14px;
    }
  }
  .configuration {
    display: flex;
    flex-direction: column;
    flex: 1;
    input:not([type="submit"]), select {
      height: 30px;
      background-color: $white;
    }
    textarea {
      min-height: 80px;
    }
    > section {
      padding-bottom: 1.25%;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .select {
      width: 100%;
      max-width: 75%;
      margin: auto;
      .custom-select {
        max-width: 70%;
        margin: auto;
      }
    }
    .value {
      flex-direction: column;
      width: 100%;
      max-width: 70%;
      margin: auto;
      > * {
        margin-bottom: 1%;
        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
      .custom-input, .custom-select {
        max-width: 75%;
      }
      .custom-textarea {
        max-width: 75%;
        textarea {
          resize: none;
          width: 100%;
          padding: 2%;
        }
      }
      .select {
        width: 100%;
        max-width: 75%;
        margin-bottom: 2.5%;
      }
      input[type="submit"]:not(:disabled) {
        background-color: $blue;
        color: $white;
        transition: all 0.2s ease-in-out;
        border-radius: 3px;
        font-size: 15px;
        text-transform: capitalize;
        color: #fff;
        border: 2px solid $darkBlue;
        &:hover {
          background-color: $darkBlue;;
          -webkit-transition: all 0.3s;
          -moz-transition: all 0.3s;
          transition: all 0.3s;
          color: #fff;
        }
      }
    }
  }
  .apply {
    margin: auto;
    max-width: 52.5%;
    width: 100%;
    padding: 0.5% 0;
  }
}
