&.column-configuration {
  position: absolute;
  right: 0;
  background-color: $white;
  overflow-y: scroll;
  height: 66vh;
  width: 300px;
  z-index: 5;
  header {
    position: sticky;
    top: 0;
    background-color: $blue;
    padding: 0.5% 2.5%;
    z-index: 20;
    h3 {
      font-size: 16px;
      font-weight: 300;
      padding: 5px 0;
      margin: 0;
      color: $white;
    }
  }
  .list {
    padding: 0;
    margin: 0;
    &.checklist {
      padding: 5% 0;
      li {
        display: flex;
        flex: 1;
        align-items: center;
        padding: 2.5% 0;
        label {
          cursor: pointer;
          display: flex;
          flex: 1;
          align-items: center;
          section {
            &:first-of-type {
              margin: 0 5%;
              .fa {
                color: $orange;
              }
            }
            &:last-of-type {
              font-size: 14px;
              text-transform: capitalize;
              label {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}
