&.program-details, &.term-details, &.disposition-details,
&.school-details, &.funnel-details, &.status-details, &.field-details,
&.inquiry-form, &.user-settings {
  background-color: $white;
  flex-direction: column;
  height: 100%;
  padding: 2.5% 5%;

  table {
    table-layout: fixed;
    td {
      padding: .5% 0;
      strong {
        font-size: 16px;
        color: #565e5f;
      }
    }
  }
  code {
    width: 96%;
    white-space: pre-wrap;
  }
  h3 {
    color: $blue;
    font-weight: 300;
    display: flex;
    section {
      flex: 1;
      &:last-of-type {
        justify-content: flex-end;
        display: flex;
        .fa {
          font-size: 1.3em;
          color: $darkGrey;
          cursor: pointer;
          &:hover {
            color: $blue;
          }
        }
      }
    }
  }
}
