&.history-filter {
  display: flex;
  align-items: center;
  padding: 1% 2%;
  color: $pewter;
  background-color: $darkWhite;
  .fa {
    font-size: 22px;
    min-width: 22px;
  }
  .title {
    font-weight: 300;
  }
  > section > div {
    display: flex;
  }
  ul {
    flex: 1;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    li {
      display: flex;
      align-items: center;
      margin-left: 5%;
      span {
        font-size: 13px;
      }
    }
    li, label {
      cursor: pointer;
    }
  }
}
