&.report {
  h2 {
    color: $blue;
    font-weight: 300;
  }
  h3 {
    a {
      color: $pewter;
      text-decoration: underline;
    }
  }
  flex: 1 0 400px;
  box-sizing: border-box;
  color: #171e42;
  padding: 10px;
	margin: 10px;
  border: solid 1px $lightGrey;
}
