&.right-side {
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  &.prospect {
    display: flex;
    overflow: auto;
    z-index: 0;
  }
  header {
    position: sticky;
    top: 0;
    flex-direction: column;
    z-index: 1;
    section {
      display: flex;
      flex: 1;
    }
    .tabbed-header {
      border-bottom: solid 1px $pewter;
    }
    .table-header {
      .thead {
        width: 100%;
        padding: 1% 0;
      }
      .th {
        width: 25%;
        text-align: center;
      }
    }
    a {
      color: $pewter;
      padding: 1%;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: $white;
      border-radius: 0;
      text-decoration: none;
      &.active {
        background-color: $pewter;
        color: $white;
      }
    }
  }
  .loading {
    height: 100%;
  }
  .content {
    flex: 1;
    z-index: 0;
    table {
      tr {
        &.string-option-buttons {
          td:last-of-type {
            display: flex;
            input {
              max-width: 25%;
            }
          }
        }
      }
      td {
        &:first-of-type {
          text-transform: capitalize;
        }
        &:last-of-type {
          width: 63.25%;
        }
      }
    }
    .tab {
      flex-direction: row;
      flex: 1;
      @import './tab/general';
      @import './tab/history';
      @import './tab/projections';
    }
    @import './details';
    @import './new_form';
    &.editing {
      table {
        td {
          strong {
            font-size: 16px;
            color: #565e5f;
          }
        }
      }
      textarea, input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([role="combobox"]):not([type="tel"]) {
        background: #fff;
        border-radius: 0;
        text-indent: 2%;
        color: #565e5f;
        font-size: 14px;
        border-width: 1px;
        border-style: solid;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        padding: 1.25% 0;
        width: 100%;
        box-sizing: border-box;
        height: 30px;
        &:focus {
          outline-style: none;
          border: 1px solid $blue;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
          -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }
      }
      .custom-select select {
        width: 100%;
        text-indent: 2%;
      }
      .time {
        box-sizing: border-box;
        border: 1px solid #ccc;
        width: 100%;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        .rc-time-picker {
          width: 100%;
          input.rc-time-picker-input {
            margin: 0;
            border: none;
            box-shadow: none;
            height: 30px;
          }
        }
      }
      .booleanCheckbox {
        label span {
          margin-left: calc(5% - 2px);
        }
        > section {
          display: flex;
          flex: 1;
          .fa-square-o, .fa-check-square-o {
            margin-left: 2px;
          }
        }
      }
      .boolean, .booleanCheckbox {
        display: flex;
        flex: 1;
        align-items: center;
        font-size: 11px;
        max-width: 50%;
        > *:not(:first-child) {
          margin-left: 2.5%;
        }
      }
      .date-picker input {
        height: auto;
      }
    }
  }
  &.program {
    height: calc(100vh - 4.5rem - 46px);
    overflow: hidden;
  }
  &.prospect, &.program {
    footer {
      position: sticky;
      bottom: 0;
      width: 100%;
      .submit {
        background-color: $taupe;
        section {
          display: flex;
          justify-content: flex-end;
          padding: 2%;
          input {
            max-width: 24%;
            padding: 1%;
            &:last-of-type {
              margin: 0 0 0 2%;
            }
          }
        }
      }
    }
  }
}
