.div {
  .landingBox;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 25rem;
  justify-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}
