@import "~styles/_colors";
@import "~styles/_shadows";

.contentContainer {
  height: 8.5rem;
  overflow: hidden;
  width: 100%;
}

.subtitle {
  margin: 0.5rem 0;
}

.descriptionContainer {
  padding: 1.125rem;
}

.img {
  width: 100%;
}

.userCardContainer {
  background: @white;
  border-radius: 1.5rem;
  box-shadow: @userCardShadow;
  height: 18rem;
  overflow: hidden;
  width: 15rem;
}
