@import "~styles/_colors";
@import "~styles/_shadows";
@import "~styles/_sizes";

.userCardContainer {
  background: @white;
  border-radius: 1.5rem;
  box-shadow: @userCardShadow;
  height: @userCardHeight;
  overflow: hidden;
  width: 15rem;
}
