@import "~styles/colors";
@import "~styles/sizes";

.iconDiv {
  width: $navWidthCollapsed;
}

.link {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: $navigationButtonHeight;
  margin: $navigationButtonMargin 0;
  position: relative;
  text-decoration: none;
  width: $navWidthExpanded;
}
