@import "~styles/_colors";
@import "~styles/_sizes";
@import "~styles/_shadows";

.actionContainer {
  margin: @cardInnerMargin;
}

.container {
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  display: flex;
  flex-direction: column;
  height: @cardHeight;
  margin: @cardMargin;
  min-width: @cardWidth;
  overflow: hidden;
  position: relative;
  width: @cardWidth;
}

.contentButtons {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  position: absolute;
  width: calc(100% - 2rem);
  z-index: 1;
}

.hr {
  border-color: @navBorder;
  border-width: 0 0 0.0625rem 0;
  width: 100%;
}

.overlayDiv {
  cursor: pointer;
  height: 100%;
  outline: none;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.selectedContainer {
  box-shadow: @cardBoxShadowSelected;
}
