@import "~styles/_colors";
@import "~styles/_sizes";
@import "~styles/_shadows";

.container {
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  display: flex;
  flex-direction: column;
  height: @cardHeight;
  margin: @cardMargin;
  min-width: @cardWidth;
  overflow: hidden;
  position: relative;
  width: @cardWidth;
}

.selectedContainer {
  box-shadow: @cardBoxShadowSelected;
}
