@import "~styles/colors";
@import "~styles/sizes";

.nav {
  background: $white;
  border-right: 0.0625rem solid $navBorder;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  width: $navWidthCollapsed;
}

:export {
  navWidthCollapsed: $navWidthCollapsed;
  navWidthExpanded: $navWidthExpanded;
}
