@import "~styles/_sizes";

.section {
  align-content: baseline;
  display: flex;
  flex-wrap: wrap;
  flex: auto;
  height: 10rem;
  justify-content: space-between;
  overflow: auto;
  padding-left: @dashboardPagePaddingLeft;
}
