@import "~styles/colors";
@import "~styles/sizes";

.div {
  align-items: center;
  display: flex;
  height: 100%;
  margin-left: 1rem;
  > p {
    margin: 1rem;
  }
}

.header {
  background: $white;
  border-bottom: 0.0625rem solid $navBorder;
  height: $headerHeight;
}
