@import "~styles/_colors";
@import "~styles/_sizes";

.div {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-left: 1rem;
  > svg {
    margin-left: 0.5rem;
    * {
      fill: @lightGrey;
    }
  }
}

.img {
  border-radius: 50%;
  width: 2.25rem;
}

.popover {
  top: @headerHeight !important;
  :global {
    .ant-popover-content {
      width: 13rem;
    }
  }
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li:not(:last-of-type) {
    margin-bottom: 0.625rem;
  }
}
