@import "~styles/_colors";
@import "~styles/_sizes";

.div {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin: 0 2rem 0 1rem;
  > svg {
    margin-left: 0.5rem;
    * {
      fill: @lightGrey;
    }
  }
}

.img {
  border-radius: 50%;
  width: 2.25rem;
}

.popover {
  top: @headerHeight !important;
  :global {
    .ant-popover-content {
      width: 10rem;
    }
  }
}
