@import "~styles/_colors";

.div {
  align-items: center;
  display: flex;
  margin: 0 2rem 0 1rem;
  > svg {
    margin-left: 0.5rem;
    * {
      fill: @lightGrey;
    }
  }
}

.hr {
  border-color: @navBorder;
  border-width: 0 0.0625rem 0 0;
  height: 60%;
}

.img {
  border-radius: 50%;
  width: 2.25rem;
}

.section {
  align-items: center;
  display: flex;
  > svg {
    margin: 1rem;
  }
}
