//@import "~antd/dist/antd.less";

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  background: #F3F5FA; // aka `@appBackground` in `styles/_colors.less`
  display: flex;
  height: 100%;
}
