@import "spa/components/neutrons/styles/_ant";
@import "spa/components/neutrons/styles/_boxes";
@import "spa/components/neutrons/styles/_colors";
@import "spa/components/neutrons/styles/_fonts";
@import "spa/components/neutrons/styles/_hr";
@import "spa/components/neutrons/styles/_shadows";
@import "spa/components/neutrons/styles/_sizes";
@import "spa/components/neutrons/styles/_transitions";
@import "spa/components/neutrons/styles/_zIndices";

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#app {
  background: #F3F5FA; // aka `@appBackground` in `styles/_colors.less`
  display: flex;
  height: 100%;
}
