@import "~styles/_colors";
@import "~styles/_shadows";
@import "~styles/_sizes";

.div {
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  display: flex;
  overflow: hidden;
  position: absolute;
}
