@import "~styles/_colors";
@import "~styles/_shadows";
@import "~styles/_sizes";

.div {
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @cardBoxShadow;
  bottom: -3.75rem;
  display: flex;
  //height: 100%;
  position: absolute;
  right: 0;
  //width: 100%;
}
