@import "~styles/_sizes";

.img {
  width: 2.25rem;
}

.section {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}
