.spaDiv {
  height: 100%;
  position: absolute;
  width: 100%;
}

.spaDivChild {
  display: flex;
  height: 100%;
  position: relative;
  width: 100%;
}

.fallbackDiv {
  display: flex;
  width: 100%;
}
