.div {
  align-items: center;
  background: @white;
  border-radius: @standardBorderRadius;
  box-shadow: @emptyCardBoxShadow;
  display: flex;
  height: 40%;
  justify-content: center;
  margin: 1rem 0 0 1rem;
  max-width: 38rem;
  min-height: 20rem;
  padding: 0 2rem;
  width: 80%;
  :global {
    .ant-empty-image {
      margin-right: 1rem;
      > svg {
        height: 6.25rem;
        width: 6.25rem;
      }
    }
  }
}

.emptyDiv {
  :global {
    .ant-empty {
      display: flex;
      justify-content: center;
    }
  }
}

.iconDiv {
  margin-left: 1.75rem;
}
