@import '~styles/_colors';
@import '~styles/_shadows';
@import '~styles/_sizes';

.containerDiv {
  background: @white;
  border-radius: 0.25rem;
  box-shadow: @landingFormBoxShadow;
  left: 5rem;
  padding: 1rem;
  position: absolute;
  top: 5rem;
}

.img {
  height: 3rem;
  margin-right: 0.625rem;
}

.logoDiv {
  align-items: center;
  display: flex;
  margin: 1rem 0 0 @formHorizontalPadding;
}
