.black {
  > svg {
    * {
      stroke: @black;
    }
  }
  &:hover {
    > svg {
      * {
        stroke: @darkBlack;
      }
    }
  }
}

.blue {
  > svg {
    * {
      stroke: @blue;
    }
  }
  &:hover {
    > svg {
      * {
        stroke: @darkBlue;
      }
    }
  }
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  outline: none;
  padding: 0;
}

.white {
  &:hover {
    > svg {
      * {
        stroke: @transparentWhiteThreeQuarterOpacity;
      }
    }
  }
}
