@import "~styles/_colors";
@import "~styles/_fonts";
@import "~styles/_shadows";

.textInput {
  border-radius: 0.5rem;
  border: none;
  font-family: @prompt;
  font-size: 1.125rem;
  font-weight: 400;
  height: 2.25rem;
  outline: none;
  padding: 0 1rem;
}

