@import "~styles/colors";

.button {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  > div {
    > svg {
      > g {
        > g {
          > g {
            path {
              stroke: $black;
            }
          }
        }
      }
    }
  }
}
