@import "~styles/_colors";
@import "~styles/_fonts";

.button {
  align-items: center;
  display: flex;
  > svg {
    margin-right: 0.5rem;
  }
}

.primary {
  &:hover {
    background: @darkBlue;
    border-color: @darkBlue;
  }
}

.secondary {
  border-color: @blue;
  color: @blue;
  font-family: @poppins;
  &:hover {
    border-color: @darkerBlue;
    color: @darkerBlue;
  }
}
