@import 'standards/colors';
@import 'standards/standards';
@import 'table/table';
@import 'transitions/transitions';
@import 'panel/panel';
@import 'lists/lists';
@import 'vendor_overrides/vendor_overrides';

#outside {
  display: flex;
  flex: 1;
}

footer {
  @import './_footer';
}

textarea, select {
  margin: 0;
  border: none;
  &:focus {
    // outline: none;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

.invalid {
  input {
    background-color: rgba(217, 83, 79, 1) !important;
    color: $white !important;
    &::placeholder {
      color: $white !important;
    }
  }
  + .message {
    font-size: 13px;
    color: rgba(217, 83, 79, 1) !important;
    padding: 5px;
  }
}

.flash {
  padding: 5%;
  color: $white;
  font-size: 14px;
  i {
    font-size: 22px !important;
  }
  &.error {
    background-color: $red;
    div:last-of-type {
      text-align: left;
      display: flex;
      align-items: center;
    }
  }
  &.success {
    background-color: $green;
    color: $white;
  }
  &.reminder {
    background-color: $orange;
    color: $white;
  }
  .fa-times {
    float: right;
    cursor: pointer;
  }
}

.caret {
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-bottom: 13px solid $white;
  position: absolute;
  bottom: -4px;
  left: 50%;
  margin-left: -13px;
}

.drawer-icon {
  cursor: pointer;
}

.div-trays-tray {
  > section {
    > section {
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @import './sidebar/_programs';
        li {
          &:not(:last-of-type) {
            border-bottom: solid 1px $darkGrey;
          }
        }
      }
    }
  }
}

.search {
  position: relative;
  display: flex;
  align-items: center;
  .fa {
    right: 5%;
    position: absolute;
    color: $darkGrey;
  }
}
