@import "~styles/colors";
@import "~styles/sizes";

.button {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  margin: 0.5rem 0;
  outline: none;
  padding: 0;
  position: relative;
  width: $navWidthExpanded;
}

.iconDiv {
  width: $navWidthCollapsed;
}

.span {
  border-radius: 0 0.5625rem 0.5625rem 0;
  border: 0.125rem solid $blue;
  height: 70%;
  position: absolute;
}
