.dropdown {
  :global {
    .ant-select-selection {
      justify-content: flex-start;
    }
    .ant-select-arrow {
      position: absolute;
      right: 0;
      top: 0.25rem;
    }
  }
}

.iconDiv {
  align-items: center;
  display: flex;
  height: 100%;
  margin-right: 0.375rem;
}
