@import "~antd/lib/select/style/index.less";
@import "~styles/_ant";
@import "~styles/_colors";
@import "~styles/_fonts";
@import "~styles/_shadows";

.ant-select {
  width: 100%;
}

.ant-select-dropdown-menu {
  margin-top: 0;
}

.ant-select-dropdown-menu-item, .ant-select-selection__rendered {
  color: @black;
  font-family: @poppins;
}

.ant-select-dropdown-menu-item-active {
  background-color: transparent !important;
}

.ant-select-dropdown-menu-item {
  &:hover {
    background-color: transparent !important;
    color: @blue;
  }
}

.ant-select-arrow {
  margin-top: inherit;
  position: relative;
  right: inherit;
  top: inherit;
}

.ant-select-dropdown-menu-item-selected {
  background-color: transparent;
}

.ant-select-open {
  .ant-select-selection {
    border-color: @blue !important;
    box-shadow: @antInputBlueShadow !important;
  }
  .ant-select-selection:hover {
    border-color: @lightBlue !important;
  }
}

.ant-select-selection {
  display: flex;
  justify-content: space-between;
  &:hover {
    border-color: @antBorderColor;
  }
  &:active, &:focus {
    border-color: @antBorderColor;
    box-shadow: none;
  }
}
