@import "~styles/_sizes";

.parentSection {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}
