// *1: for some reason the navigation buttons aren't appearing completely in the center, so I have
// to add this margin to fix it

@import "~styles/_sizes";

.parentSection {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.section {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem; // *1
  position: relative;
}
